.panel-main {
    text-align: center;
    /* background-color: pink; */
    width: 1140px;
    height: 163px;
    margin: 15px 104.50px;
    padding: 0 7.5px;
    display: flex;
    justify-content: center;
}
.panel-1{
    display: flex;
    text-align: left;
    border: 1px solid rgb(177, 168, 168);
    align-items: center;
    width: 416px;
    height: 129px;
    margin: 0 10px;
    border-radius: 4px;
    
}
.img{
    width: 158.66px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5c4ae;
}
.img img{
    width: 37px;
    height: 67px;
}
#img-2{
    width: 61px;
    height: 68px;
}
.img-2-pnl{
    width: 158.66px;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8F1FF;
}
.panel-content{
    width: 228.9px;
    height: 111.72px;
    margin-top: 20px;
    display: block;
    margin-left: 10px;
    line-height: 20px;
}
.panel-content h4{
    margin-bottom: 5px;

}
.panel-content p{
    margin-bottom: 10px;

}
#btn-pnl{
    padding: 7px 14px;
    background-color: #ff9e15;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 13.6px;
}
#btn-pnl-2{
    padding: 7px 14px;
    background-color: #202064;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 13.6px;
}