.platinum-main{
    height: 455px;
    width: 100%;
    position: relative;
    background-color: #FFF3E2;
}
.platinum-img-sec{
    position: absolute;
    top: 10%;
    left: 10%;
    display: flex;
}
.pl-txt{
    margin-top: 22px;
    margin-left: 5px;
    height: 52px;
}
.platinum-boxes{
    height: 294px;
    width: 100%;
    /* background-color: pink; */
    position: absolute;
    top: 35%;
    display: flex;
}
.platinum-boxes-cnt{
    width: 2950px;
    margin-left: 8%;
    background-color: #FFF3E2;
    display: flex;
}
.box-1{
    height: 145px;
    width: 220px;
    background-color: #fff;
    padding: 30px 30px;
    text-align: center;
    position: relative;
    margin-left: 20px;
    border-radius: 8px;
    top: 10%;
    /* box-shadow: 1px 1px  rgb(211, 184, 184); */
    border: 1px solid rgb(241, 213, 218);
}
.box-img{
    width: 59px;
    height: 59px;
    border: 2px solid orange;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: -10%;
}
.box-img img{
    width: 59px;
    height: 59px;
    border-radius: 50%;
}
.box-content{
    position: absolute;
    top: 30%;
    left: 50px;
}
.reviews{
    position: absolute;
    top: 78%;
    width: 217px;
    height: 42px;
    display: flex;
}
.reviews p{
    font-size: 12px;
    padding: 0 10px;
}
#new{
    font-size: 12px;
}
#maj-txt{
    font-size: 17px;
}
.main-articles-container{
    width: 100%;
    height: 150px;
    background-color: #F5F5F5;
    padding: 48px 0;
    text-align: center;
    /* display: flex; */
    /* margin-top: 49px; */
    overflow: hidden;
}
.articles{
    width: 80%;
    height: 200px;
    background-color: #F5F5F5;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
}
.article-1{
    width: 360px;
    height: 100px;
    background-color: #F5F5F5;
    padding-top: 20px;
    /* border: 1px solid black; */
}
.article-1 .img{
    width: 100%;
    height: 70px;
    background-color: #F5F5F5;
}
.article-1 .img img{
    width: 60px;
    height: 60px;
}
#looking{
    font-size: 24px;
}