.specialist-main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.specialists-list{
    display: flex;
    width: 80%;
    margin: 0 40px;
    align-items: center;
    justify-content: center;
}
#para-1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}
.doc-1 img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.doc-1{
    padding: 0 20px;
    width: 80%;
    height: 100%;
    font-size: 1rem;
    margin-top: 20px;
}
.doc-1 p{
    width: 105px;
    text-align: center;
    cursor: pointer;
}