* {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
}
.left {
  display: flex;
  font-size: 14px;
}
.left li {
  padding: 10px 15px;
  list-style: none;
}
.left li a {
  text-decoration: none;
  color: black;
}
.right {
  display: flex;
  margin: 0 60px;
}
.right li {
  padding: 10px 15px;
  list-style: none;
}
.right li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

#micro-img {
  margin-top: -3px;
  max-width: none;
  width: 108px;
}
#micro-img img {
  margin-top: -3px;
  max-width: none;
  width: 108px;
}
#Skype a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-top: -3px;
  margin-left: 20px;
}
#Skype a::before {
  content: "|";
  display: block;
  font-size: 30px;
  font-weight: 400;
  margin-left: -45px;
  padding-left: 18px;
  position: absolute;
  top: 7px;
}
ul li a:hover{
    text-decoration: underline;
}
.main-content{
   height: 90vh;
   width: 98%;
   margin: 15px 10px;
   display: flex;
   background-image: url("https://secure.skypeassets.com/content/dam/scom/blogs/skype-bot-collab/image-desktop-bing.png");
   background-repeat: no-repeat;
   background-position: right center;
   background-size: 55%;
   background-color: #F2F2F2;
   border-radius: 0 20px 0 0;
   /* justify-content: center; */
}
.main-txt{
    width: 33%;
    padding: 140px 100px;
}
.main-txt h1{
    color: black;
    font-size: 3em;
}
#color-txt{
    background-image: linear-gradient(90deg, #0078d4, #c218ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.main-txt p{
    font-size: 18px;
    margin-top: 20px;
}
.main-txt p a{
    text-decoration: none;
    color: #0078d4;
}
.main-txt button{
    color: #fff;
    background-color: #0078ca;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    word-wrap: break-word;
    padding: 12px 30px;
    margin: 30px 0;
}
.main-txt a{
    text-decoration: none;
    margin-top: 30px;
    color: #0078d4;
    
}
#h1-tag{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
    padding-top: 20px;
}
.slider h1{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-basis: 25%;
}
.slider{
    display: flex;
    width: 100%;
    min-height: 500px;
    overflow: hidden;
}
.container1{
    box-sizing: border-box;
    width: 25%;
    margin-left: 10px;
    justify-content: center;
    height: auto;

}
.container1 img{
    width: 100%;
    margin-top: 10px;
    border-radius: 0px 10px 0 0;
    border: 1px transparent;
}
.container1-txt{
    padding: 20px;
    margin-top: 30px;
    text-align: left;
    
    border-left: 2px solid #E5E4E8;
    border-bottom: 2px solid #E5E4E8;
    border-right: 2px solid #E5E4E8;
}
.container1-txt p{
    margin-bottom: 20px;
}
.container1-txt a{
    text-decoration: none;
    color: #0078ca;
}