* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(0, 0, 0);
}
.main-header {
  width: 100%;
  height: 45px;
  background-color: rgb(75, 72, 72);
  margin: 0px;
  /* padding: 8px; */
  position: fixed;
}
.main-header-links {
  display: flex;
  margin: 0px 160px;
  height: 50px;
}
.main-header-links li {
  list-style: none;
  padding: 13px 5px;
  /* flex-basis: 8%; */
}
.main-header-links li a {
  padding: 10px 12px;
  list-style: none;
  color: rgb(233, 227, 227);
  text-decoration: none;
  font-size: 14px;
}
#apple-logo {
  width: 20px;
  padding: 0 0 0 20px;
}
#apple-logo img {
  padding: 0 0 0 20px;
  width: 20px;
}
#img-2 {
  width: 16px;
}
#img-2 img {
  width: 16px;
  background-color: #fff;
}
#img-3 {
  width: 16px;
}
#img-3 img {
  width: 16px;
}
.content-1{
    background-color: #fff;
    width: 100%;
    height: 100px;
    /* position: relative; */
    text-align: center;
    align-items: center;
}
.content-1 p{
    font-weight: bold;
    padding: 65px;
    font-size: 14px;
}
.content-1 a{
    text-decoration: none;
}
.content-2{
    text-align: center;
    align-items: center;
}
.content-2 video{
    width: 18%;
   margin-top: 50px;
}
.context-2-txt{
    text-align: center;
}
.content-2 h1{
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 30px;
    font-family: 'Geologica', sans-serif;
}
.content-2-txt{
    margin-bottom: 30px;
}
.content-2 h3{
    color: #fff;
    /* text-align: center; */
    font-size: 30px;
    padding: 0 10px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
.content-2 a{
    color: rgb(47, 95, 139);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 40px;
}
.content-3{
    text-align: center;
    border-top: 10px solid white;
    border-left: 5px blue;
}
.content-3-txt{
    color: #fff;
    margin-top: 50px;
}
.content-3-txt h1{
    font-size: 60px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.content-3-txt h3{
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.content-3-txt a{
    color: rgb(47, 95, 139);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
}
.content-3-img{
    align-items: center;
    margin-top: 25px;
}
.content-3-img img{
    width: 40%;    
}
.content-4{
    background-color: #fff;
    height: 80vh;
    text-align: center;
}
.content-4 h1{
    font-size: 60px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding-top: 50px;
}
.content-4 h3{
    font-size: 30px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.content-4 a{
    color: rgb(47, 95, 139);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
}

.content-4-img img{
    width: 40%;
    margin-top: 30px;
}
.flexbox-main{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    /* margin-top: 40px; */
    height: 90vh;
    border: 5px solid white;
    background-color: #fff;
}
.flex-content-1{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(243, 236, 236);
    background-image: linear-gradient(rgba(250, 246, 246, 0.1), rgba(255, 255, 255, 0.1)), url("https://www.apple.com/v/airpods/t/images/overview/airpods_3rd_gen__dhy5bknhvtqq_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.flex-content-2{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(243, 236, 236);
    background-image: linear-gradient(rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.137)), url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/watch-s8-lifestyle-pride-202305?wid=1820&hei=2332&fmt=jpeg&qlt=90&.v=1683937906786");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.flex-text-1{
    color: rgb(8, 8, 8);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-text-1 h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.flex-text-1 h3{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}
.flex-text-1 a{
    font-size: 18px;
    color: rgb(12, 35, 56);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;

}
.flexbox-main{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    /* margin-top: 40px; */
    /* height: 90vh; */
    border: 5px solid white;
    background-color: #fff;
}
.flex-text-2{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-text-2 h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.flex-text-2 h3{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}
.flex-text-2 a{
    font-size: 18px;
    color: rgb(54, 70, 143);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 0 10px;

}
.flex-content-3{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    /* margin-top: 20px; */
    text-align: center;
    background-color: rgb(243, 236, 236);
    background-image: linear-gradient(rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.137)), url("https://www.apple.com/v/macbook-pro-13/p/images/overview/apple_silicon__b9y4fltj0os2_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex-content-4{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    /* margin-top: 20px; */
    text-align: center;
    background-color: rgb(243, 236, 236);
    background-image: linear-gradient(rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.137)), url("https://www.apple.com/v/macbook-pro-14-and-16/e/images/overview/ports/magsafe__wkeiwwe9e36i_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.flex-text-3{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-text-3 h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.flex-text-3 h3{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}
.flex-text-3 a{
    font-size: 18px;
    color: rgb(54, 70, 143);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 0 10px;

}
.flex-content-5{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    /* margin-top: 20px; */
    text-align: center;
    background-color: rgb(243, 236, 236);
    background-image: linear-gradient(rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.137)), url("https://www.apple.com/v/homepod-2nd-generation/a/images/overview/handoff__1iir0nzgjkia_large.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    background-position: center;
}
.flex-content-6{
    border: 8px solid rgb(255, 252, 252);
    width: 100%;
    /* margin-top: 20px; */
    text-align: center;
    background-color: #DEDEDE;
    background-image: linear-gradient(rgba(7, 7, 7, 0.1), rgba(0, 0, 0, 0.137)), url("https://www.tradingpedia.com/wp-content/uploads/2019/08/card__fhxgfbpnt7e6_large_2x-768x539.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    background-position: center;
}
.flex-text-5{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-text-5 h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.flex-text-5 h3{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}
.flex-text-5 a{
    font-size: 18px;
    color: rgb(173, 174, 180);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 0 10px;

}
.flex-text-6{
    color: rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.flex-text-6 h1{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.flex-text-6 h3{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin-top: 5px;
}
.flex-text-6 a{
    font-size: 18px;
    color: rgb(54, 70, 143);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    padding: 0 10px;
}
.text{
    display: flex;
}
.description{
    background-color: rgb(211, 208, 208);
    text-align: left;
    /* border-bottom: 1px solid black; */
}
.description .text{
    padding: 10px 15%;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 0 0 0 6px solid rgb(168, 163, 163);
}
.text p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.foot{
    background-color: rgb(204, 197, 197);
    display: flex;
    flex-basis: 20%;
    padding: 10px 15%;
    height: 80vh;
    border-top: 1px solid white;
}
.list{
    /* display: block; */
    padding: 100px 60px;
    list-style: none;
    text-align: left;
    /* border-top: 1px solid rgb(255, 255, 255); */
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
    margin-top: 30px;
}
.list li {
    padding: 5px 0;
}
.list li a{
    font-size: 14px;
    text-decoration: none;
    text-align: inherit;
    /* box-sizing: content-box; */
    color: black;
}
.Bold a{
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    cursor: inherit;
}
.list li a:hover {
   text-decoration: underline;
}
.store-info{
    background-color: #fff;
    height: 100px;
}
.store-info p{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}

.store-info a{
    font-size: 14px;
}