@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,300&family=Geologica:wght@300;500;600&family=Montserrat:wght@100&family=Roboto:wght@100;300&family=Source+Code+Pro:ital,wght@1,200&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  background-color: rgb(173, 205, 216);
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
}

.text-center{
  color: #fff;
  background-color: black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.btn {
  padding: 23px;
  margin: 0 3px;
  border: 3px solid black;
  border-radius: 9px;
  cursor: pointer;
  width: 66px;
  font-size: 18px;
}
.row{
    margin: 10px 5px;
    
}

.row input{
    width: 290px;
    height: 45px;
    border-radius: 5px;
    border: 3px solid black;
    font-size: 20px;
}

footer{
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
}